# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# ==========================
# Dados de teste
# ==========================
dados/testes/
*.tmp

# ==========================
# Arduino
# ==========================
*.hex
*.elf
*.bin

# ==========================
# Jupyter (caso use)
# ==========================
.ipynb_checkpoints/
